# Here's a pin configuration for the PiGRRL 2 project:
LEFT          22  # Joypad left
RIGHT         20  # Joypad right
UP             7  # Joypad up
DOWN          12  # Joypad down
LEFTCTRL      19  # 'A' button
LEFTALT        5  # 'B' button
Z              6  # 'X' button
X             13  # 'Y' button
RIGHTSHIFT      26  # 'Select' button
ENTER         16  # 'Start' button
A             18  # Left shoulder button
S             27  # Right shoulder button
Q             15  # Left trigger button
W             17  # Right trigger button
ESC           16 26  # Exit ROM; PiTFT Button 1
